@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}
* ul {
  margin-bottom: 0 !important;
}
html, body {
  font-family: Roboto,sans-serif !important;
  width: 100%;
  height: 100%;
}
a {
  color: #00a1b3 !important;
}
a:hover {
  color: #006dfb !important;
}
a[href^="tel:"] {
  color: #000 !important;
}
body h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.mt-36 {
  margin-top: 36px;
}
.mb-36 {
  margin-bottom: 36px;
}
.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.ml-36 {
  margin-left: 36px;
}
.mr-36 {
  margin-right: 36px;
}
.pt-36 {
  padding-top: 36px;
}
.pb-36 {
  padding-bottom: 36px;
}
.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}
.pl-36 {
  padding-left: 36px !important;
}
.pr-36 {
  padding-right: 36px !important;
}
.bt {
  border-top: 1px solid #7fc7cf;
}
.bb {
  border-bottom: 1px solid #7fc7cf;
}

/*///////////// Header /////////////*/
.header {
  background-color: #fff;
  padding-top: 10px;
}
.medallion {
  display: inline-block;
  width: 77px;
  margin-left: 12px;
}
.medallion.above-logo {
  display: none;
}
.logo {
  display: inline-block;
  width: 638px;
  max-width: 100%;
}
.logo-flex {
  flex-basis: auto !important;
  margin-bottom: 8px;
  height: 80px;
}

/*//////// Navigation Bar ////////*/
body .navbar {
  padding: 0;
  line-height: 20px;
  background-color: #555;
}
.navbar-nav a {
  font-size: 16px;
  color: white !important;
  letter-spacing: .02em;
  }
.navbar-nav .dropdown-menu a {
  color: #000 !important;
  }
.nav-item.active {
  background-color: black;
}
body .navbar-toggler {
  margin: 0 auto;
  border: 1px solid #aaa;
  width: 70px;
}
.nav-glow {
  box-shadow: 0px 20px 26px rgba(255, 255, 255, 0.5), 0px 20px 26px rgba(255, 255, 255, 0.5);
}
.slides-top-margin {
  margin-top: 133px;
}
@media(max-width:1023px){
  .logo {
    width: 558px;
  }
}
/* @media 786px needed to allow better letter spacing for all larger windows. Stops line break between 767-786 px*/
@media(max-width:786px){
  .navbar-nav a {
    letter-spacing: normal;
  }
}
@media(max-width:767px){
  .slides-top-margin {
    margin-top: 152px;
  }
  body .navbar {
    width: 170px;
    margin: 0 auto;
    background-color: white;
  }
  .navbar-nav a {
    font-size: 16px;
    color: black !important;
    text-align: center;
    background: none !important;
  }
  body .navbar-toggler {
    margin-bottom: 10px;
    padding: 4px;
  }
  body .navbar-toggler img {
    width: 60px;
    margin: auto;
  }
  .nav-item.active {
    background-color: white;
    border: 1px solid #000;
  }
}
@media(max-width:683px){
  .medallion {
    display: none;
  }
  .medallion.above-logo {
    margin: 10px 50px 5px;
    display: revert;
  }
  body .navbar-toggler {
    margin-top: 6px;
  }
  .logo-flex {
    height: 142px;
  }
  .slides-top-margin {
    margin-top: 220px;
  }
}
@media(max-width:425px){
  .medallion {
    width: 66px;
  }
  .logo-flex {
    height: 112px;
  }
  .slides-top-margin {
    margin-top: 190px;
  }
}
@media(max-width:320px){
  .manufacturer {
    width: 290px;
  }
}

/*//////////////////////////// Title Block ////////////////*/
.bg-blue {
  background-color: #7fc7cf;
}
.title-block {
  position: relative;
  margin-top: 134px;
  color: #fff;
}
.title-block h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: .04em;
  margin-top: 40px;
}
.intro {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: .02em;
}
.intro p {
  max-width: 900px;
  margin: auto;
  margin-bottom: 14px;
}


/*////////////////////// Home Page ////////////////////////*/
/*///// Home Slide Show ////*/
.carousel-item.homeSlide {
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 133px);
}
.carousel-item.imageTop {
  background-position: top center;
}
.info-band {
  position: absolute;
  z-index: 15;
  visibility: hidden;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 34px;
  bottom: 30px;
}
.manufacturer {
  position: absolute;
  z-index: 20;
  left: 3%;
  bottom: 46px;
  color: white;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: .06em;
}
.carousel-item .carousel-caption {
  color: #ffffc6;
  text-shadow: -1px -1px 4px #333, 1px -1px 4px #333, -1px 1px 4px #333, 1px 1px 4px #333;
  font-size: 22px;
  line-height: 25px;
  padding-right: 258px;
  padding-left: 258px;
  min-height: 50px;
  letter-spacing: .02em;
  background-color: rgba(0, 0, 0, .4);
  bottom: 30px;
  right: 0;
  left: 0;
  width: 100%;
}
body .carousel-indicators {
  right: 0;
  left: unset;
  bottom: 41px;
  margin-right: 3%;
  margin-left: 0;
}
body .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-right: 0;
  margin-left: 25px;
  border: 0;
  border-radius: 50%;
  background-color: #7dcfcd;
  opacity: unset;
}
.carousel-indicators .active {
  background-color: #fff;
}
@media(max-width:1099px) {
  body .carousel-indicators li {
    margin-left: 20px;
  }
}
@media(max-width:767px) {
  body .carousel-indicators {
    bottom: 26px;
  }
  body .carousel-indicators li {
    margin-left: 15px;
  }
  .manufacturer {
    bottom: 30px;
  }
  .info-band {
    visibility: visible;
  }
}
@media(max-width:491px){
  .manufacturer {
   font-size: 15px;
  }
  body .carousel-indicators li {
    margin-left: 12px;
    width: 10px;
    height: 10px;
  }
}

/*///////// Featured Items Slider //////////*/
.feature {
  border: 2px solid #cccccc;
  padding: 14px;
  font-size: 14px;
  line-height: 19px;
  width: 32.5%;
  height: 222px;
  transition: border 0.3s;
  background-color: #fff;
}
.feature a {
  color: #000 !important;
  text-decoration: none;
}
.feature a:hover {
  text-decoration: none;
}
.feature:hover {
  cursor: pointer;
  border-color: #7dcfcd;
}
.feature span {
    color: #0103f9;
}
.featuredHeader {
  padding-bottom: 6px;
}
.itemName {
  font-size: 19px;
  line-height:22px;
}
.featured-prev-icon, .featured-next-icon {
  display: inline-block;
  width: 21px;
  height: 44px;
  background: no-repeat;
}
.featured-prev-icon {
  background-image: url(images/home/featured-items/previous-featured-icon.svg);
  background-position: left;
  transform: translateX(-6px);
}
.featured-next-icon {
  background-image: url(images/home/featured-items/next-featured-icon.svg);
  background-position: right;
  transform: translateX(6px);
}
.carousel-control-next.featured-controls, .carousel-control-prev.featured-controls {
  width: 3%;
}
.carousel-control-prev.featured-controls {
  transform: translateX(-21px);
}
.carousel-control-next.featured-controls {
  transform: translateX(21px);
}
@media (max-width: 1024px){
  .feature {
    height: 262px;
  }
  .featuredHeader {
    padding-bottom: 4px;
  }
}
@media (max-width: 767px){
  .featuredHeader {
    padding-bottom: 3px;
  }
}

/*/////// Featured Items Mobile ///////*/
.feature-mobile {
  border: 2px solid #cccccc;
  margin-top: 36px;
  padding: 14px;
  font-size: 16px;
  line-height: 21px;
  max-width: 480px;
  height: 250px;
  transition: border 0.3s;
}
.feature-mobile a {
  color: #000 !important;
  text-decoration: none;
}
.feature-mobile a:hover {
  text-decoration: none;
}
.feature-mobile:hover {
  cursor: pointer;
  border-color: #000 !important;
}
.feature-mobile span {
    color: #0103f9;
}
.intro-text {
  height: 90%;
  overflow: hidden;
}

/*//////// About GSLG ////////*/
.bg-grey {
  background-color: #e9e9e9;
}
.display-text {
  font-weight: 400;
  font-size: 21.1px;
  line-height: 26px;
  text-align: justify;
}
.display-text div{
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 5px;
  text-align: left;
}
.display-text div span{white-space: nowrap;
}
@media (max-width:767px) {
  .display-text {
    text-align: left;
  }
}

/*//////// LITERATURE ////////*/
.literature {
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #7fc7cf;
  text-align: center;
  height: 100%;
}
.literature-title{
  width: 100%;
  margin-top: 14px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
}
.literature img {
  border: 1px solid #999999;
  transition: border 0.3s;
  margin-bottom: 9px;
  width: 150px;
}
.literature img:hover {
  border-color: #000;
}
.notice {
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #7fc7cf;
  text-align: center;
  padding: 11px 10px 17px;
}
.notice span {
  font-size: 20px;
  line-height: 30px;
}
.contact-info {
  margin-top: 15px;
  padding: 21px 8px 18px;
  border: 1px solid #7fc7cf;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}
.contact-info p {
  font-weight: 500;
  margin-bottom: 4px;
}
.contact-info span {
  white-space: nowrap;
}
.contact-info a {
  width: 28%;
}
.contact-info img {
  height: 70px;
}
.contact-info img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.icon-labels {
  color: #000;
}

@media (max-width: 991px) {
  .literature {
    padding: 0 60px;
  }
  .literature img {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .literature {
    margin-top: 36px;
    padding: 0;
  }
}


/*////////////////////////////////// About Us //////////////////////////////////*/

body .carousel-indicators.office-slides {
  right: 0;
  left: 0;
  bottom: 0;
  margin-right: 15%;
  margin-left: 15%;
}
.ourtext{
  font-size: 1rem;
}
.ourtext h1 {
  text-align: center;
  margin-bottom: 6px;
}
.ourtext span {
  font-weight: 500;
  font-size: 19px;
}
.ourtext p {
  margin-bottom: 0;
}
.maprow {
  line-height: 22px;
}
.maprow li{
  margin-bottom: 6px;
}
.maprow img {
  width: 326px;
  height: 300px;
}
.sliderow {
  line-height: 22px;
}
.sliderow div p {
  margin-bottom: 8px;
}
@media(max-width:382px) {
  .maprow img {
    width: 290px;
  }
}

/*////////////////////////////////// MEET THE TEEM //////////////////////////////////*/
.backdrop {
  position: relative;
  width: 220px;
  height: 144px;
  background-color: #9b9b9b;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 100px;
}
.backdrop img{
  position: absolute;
  display: block;
  max-width: 220px;
  max-height: 226px;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%)
}
.backdrop img.img-right {
  right: 0;
  left: unset;
  transform: none;
}
.backdrop img.height-allowance {
  max-height: fit-content;
}
.backdrop img.height-allowance2 {
  max-height: 240px;
}
.topset {
  margin-top: 100px;
}
.mbspace {
  margin-bottom: 50px;
}
.biography  {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  width: 246px;
  margin: auto;
  margin-bottom: -20px;
}
.biography p {
  margin-bottom: 12px;
}
.bio-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 2px;
}
.bio-subhead {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 3px;
}
.biography a {
  font-size: initial;;
}

/*////////////////////////////////// SERVICES //////////////////////////////////*/
.serv-intro {
  font-size: 18px;
  letter-spacing: .02em;
  color: #fff;
}
.serv-intro p {
  line-height: 26px;
  padding-top: 5px;
  padding-right: 100px;
  padding-left: 100px;
}
.serv-list-col {
  padding-left: 58px;
  padding-right: 48px;
}
.serv-list-col2 {
  margin-bottom: 14px;
}
.design-slider {
  position: relative;
  height: 315px;
  background-color: #e9e9e9;
}
.design-slider img{
  max-height: 315px;
  position: absolute;   
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.project p:first-of-type {
  margin-bottom: 8px;
}
.services p {
  margin-bottom: 0;
  text-align: justify;
}
.services h1 {
  margin-bottom: 10px;
  text-align: center;
}
@media(max-width: 1199px) {
  .serv-intro p {
    padding-right: 0;
    padding-left: 0;
  }
}
@media(max-width:991px) {
  .services h1 {
    text-align: center;
    margin-top: 15px;
  }
}
@media(max-width: 767px) {
  .serv-list-col {
    padding-left: 154px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .serv-list-col2 {
    padding-left: 154px;
    margin-bottom: 14px;
  }
  .services.pls {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(max-width: 500px) {
  .serv-list-col {
    padding-left: 80px;
  }
  .serv-list-col2 {
    padding-left: 80px;
  }
}
@media(max-width: 370px) {
  .serv-list-col {
    padding-left: 36px;
  }
  .serv-list-col2 {
    padding-left: 36px;
  }
}

/*/////////////////////////// TRENDING -- INSTAGRAM ///////////////////////////*/

.embedsocial-hashtag {
  margin-top: 44px;
}


/*/////////////////////////// LINE CARD ///////////////////////////*/

/*/// Checkbox Selectors/////*/
.selector-heading{
  background-color: #777;
  color: #fff;
  margin: 10px 0 6px;
  padding-left: 15px;
  letter-spacing: .05em;
  min-height: 26px;
  line-height : 21px;
  font-weight: 500;
}
.selector-heading a {
  color: #fff !important;
  padding: 5px;
}
.fixture-type {
  border-left: 1px solid #555;
  margin-bottom: 0;
}
.fixture-type li{
  padding-left: 15px;
  white-space: nowrap;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
}
.fixture-type li#archSteelAlum, .fixture-type li#archConcrete, .fixture-type li#archCommercial, .fixture-type li#low-voltage {
  white-space: normal;
}
.fixture-type label {
  margin-bottom: 0;
}
.fixture-type input {
  margin-right: 2px;
}
.three-text-columns {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
.two-text-columns {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
.col60 {
  flex: 0 0 60% !important;
  max-width: 60% !important;
}
.col40 {
  flex: 0 0 40% !important;
  max-width: 40% !important;
}
.col20 {
  flex: 0 0 20% !important;
  max-width: 20% !important;
}
/*////// Selected Fixtures Menu /////*/
.selector-heading.selected {
  background-color: #cccccc;
  margin: 10px 0 15px;
  white-space: nowrap;
  height: unset;
  padding-left: 0;
}
.selected div {
  background-color: #43939C;
  margin-right: 12px;
  padding: 0px 10px;
  cursor: pointer;
  padding-top: 1px;
  line-height: 27px;
  margin-bottom: 4px;
}
.selected div.active {
  background-color: #333;
  border: none;
  color: #fff;
}

/*////LINE CARD - Manufacturer Section////*/
.regionalMap {
  background-image: url("images/global/logo-banner/GSLG-regional-map-2020.jpg");
  background-repeat: no-repeat;
  background-size: 210px 120px;
}
.regionalMap a{
  text-decoration: none !important;
  font-size: 30px;
  color: #000 !important;
  text-shadow: 0px 0px 8px #fff, 0px 0px 8px #fff, 0px 0px 8px #fff;
}
/*
.line-descr .line-descr-popup {
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 90%;
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  z-index: 1000;
  text-align: left;
}
.line-descr:hover .line-descr-popup{
  visibility: visible;
}
*/
.linecard {
  text-align: center;
  margin-right: -23px !important;  /*to allow margin right on logos to hang over RHS*/
}
.linecard a {
  display: inline-block;
  width: 210px;
  height: 120px;
  line-height: 116px;
  border: 1px solid #999;
  margin-bottom: 15px;
}
.linecard div {
  margin-right: 22.5px;
}
.linecard img {
  max-width: 84%;
  max-height: 74%;
}
#line-card-matrix div {
  display: none;
}
#line-card-matrix.all div {
  display: block;
  position: relative;
}

@media (max-width: 1199px) {
  .linecard a {
    width: 223px;
  }
}
@media (max-width: 991px) {
  .linecard a {
    width: 225px;
  }
  .three-text-columns {
    column-count: 4;
    -webkit-column-count: 4;
  }
  .outdoor .two-text-columns {
    column-count: 4;
    -webkit-column-count: 4;
  }
  .col60.indoor, .col40.outdoor {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .col40.location, .col40.controls, .col20.design, .col20.major {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .col20 {
      flex: 0 0 25% !important;
      max-width: 25% !important;
  }
  .col20.lamps {
    padding-right: 0;
  }
  .exit .selector-heading {
    padding-left: 6px;
  }
}
@media (max-width: 767px) {
  .title-block {
    margin-top: 153px;
  }
  .linecard a {
    width: 259px;
    height: 135px;
    line-height: 131px;
  }
  .three-text-columns {
    column-count: 2;
    -webkit-column-count: 2;
  }
  .outdoor .two-text-columns {
    column-count: 2;
    -webkit-column-count: 2;
  }
  .location .two-text-columns {
    column-count: 1;
    -webkit-column-count: 1;
  }
  .controls .two-text-columns {
    column-count: 1;
    -webkit-column-count: 1;
  }
  .exit.col20, .lamps.col20, .programs.col20, .poles.col20 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .linecard div {
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (max-width: 683px) {
  .title-block {
    margin-top: 221px;
  }
}
@media (max-width: 575px) {
  .three-text-columns {
    column-count: 2;
    -webkit-column-count: 2;
  }
  .outdoor .two-text-columns {
    column-count: 2;
    -webkit-column-count: 2;
  }
  .col40.location, .col40.controls, .col20.design, .col20.major {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .col20 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
  }
  .title-block {
    margin-top: 220px;
  }
}
@media (max-width: 425px) {
  .title-block {
    margin-top: 191px;
  }
}

#line-card-matrix.inaco .inaco,
#line-card-matrix.inbeh .inbeh,
#line-card-matrix.incei .incei,
#line-card-matrix.incir .incir,
#line-card-matrix.incle .incle,
#line-card-matrix.incov .incov,
#line-card-matrix.incyl .incyl,
#line-card-matrix.indec .indec,
#line-card-matrix.indis .indis,
#line-card-matrix.indow .indow,
#line-card-matrix.indru .indru,
#line-card-matrix.inelt .inelt,
#line-card-matrix.infan .infan,
#line-card-matrix.infib .infib,
#line-card-matrix.inflo .inflo,
#line-card-matrix.infoo .infoo,
#line-card-matrix.inhar .inhar,
#line-card-matrix.inhaz .inhaz,
#line-card-matrix.inabu .inabu,
#line-card-matrix.inhig .inhig,
#line-card-matrix.inind .inind,
#line-card-matrix.inint .inint,
#line-card-matrix.inlinrec .inlinrec,
#line-card-matrix.inlinsus .inlinsus,
#line-card-matrix.inlinsur .inlinsur,
#line-card-matrix.inlinwal .inlinwal,
#line-card-matrix.inmic .inmic,
#line-card-matrix.inmir .inmir,
#line-card-matrix.inmri .inmri,
#line-card-matrix.inmul .inmul,
#line-card-matrix.inpat .inpat,
#line-card-matrix.inpen .inpen,
#line-card-matrix.inret .inret,
#line-card-matrix.inrgb .inrgb,
#line-card-matrix.inrin .inrin,
#line-card-matrix.inrlm .inrlm,
#line-card-matrix.insau .insau,
#line-card-matrix.inste .inste,
#line-card-matrix.insur .insur,
#line-card-matrix.intab .intab,
#line-card-matrix.intap .intap,
#line-card-matrix.intra .intra,
#line-card-matrix.intro .intro,
#line-card-matrix.incab .incab,
#line-card-matrix.invand .invand,
#line-card-matrix.invani .invani,
#line-card-matrix.invap .invap,
#line-card-matrix.inwal .inwal,
#line-card-matrix.inwet .inwet,
#line-card-matrix.ouare .ouare,
#line-card-matrix.oubac .oubac,
#line-card-matrix.oubol .oubol,
#line-card-matrix.oubui .oubui,
#line-card-matrix.oudar .oudar,
#line-card-matrix.oudec .oudec,
#line-card-matrix.oufan .oufan,
#line-card-matrix.ouflo .ouflo,
#line-card-matrix.oufur .oufur,
#line-card-matrix.ougar .ougar,
#line-card-matrix.ouing .ouing,
#line-card-matrix.ouint .ouint,
#line-card-matrix.oulan .oulan,
#line-card-matrix.oulow .oulow,
#line-card-matrix.oulin .oulin,
#line-card-matrix.ouret .ouret,
#line-card-matrix.ourgb .ourgb,
#line-card-matrix.ousig .ousig,
#line-card-matrix.ousol .ousol,
#line-card-matrix.ouspo .ouspo,
#line-card-matrix.ouste .ouste,
#line-card-matrix.ouwil .ouwil,
#line-card-matrix.ouund .ouund,
#line-card-matrix.ouwal .ouwal,
#line-card-matrix.cobea .cobea,
#line-card-matrix.coday .coday,
#line-card-matrix.coroo .coroo,
#line-card-matrix.cosol .cosol,
#line-card-matrix.cowir .cowir,
#line-card-matrix.coeme .coeme,
#line-card-matrix.coout .coout,
#line-card-matrix.cosen .cosen,
#line-card-matrix.cotun .cotun,
#line-card-matrix.copoe .copoe,
#line-card-matrix.codmx .codmx,
#line-card-matrix.emlig .emlig,
#line-card-matrix.emcon .emcon,
#line-card-matrix.emhaz .emhaz,
#line-card-matrix.embat .embat,
#line-card-matrix.eminv .eminv,
#line-card-matrix.laled .laled,
#line-card-matrix.lahid .lahid,
#line-card-matrix.laflu .laflu,
#line-card-matrix.labal .labal,
#line-card-matrix.ladri .ladri,
#line-card-matrix.prcus .prcus,
#line-card-matrix.prcan .prcan,
#line-card-matrix.prdlc .prdlc,
#line-card-matrix.prqui .prqui,
#line-card-matrix.loarc .loarc,
#line-card-matrix.locor .locor,
#line-card-matrix.loedu .loedu,
#line-card-matrix.lohea .lohea,
#line-card-matrix.loind .loind,
#line-card-matrix.lonat .lonat,
#line-card-matrix.lohor .lohor,
#line-card-matrix.lohos .lohos,
#line-card-matrix.lores .lores,
#line-card-matrix.lomun .lomun,
#line-card-matrix.lohig .lohig,
#line-card-matrix.loret .loret,
#line-card-matrix.lotra .lotra,
#line-card-matrix.poasa .poasa,
#line-card-matrix.poaco .poaco,
#line-card-matrix.posta .posta,
#line-card-matrix.pospo .pospo,
#line-card-matrix.powoo .powoo,
#line-card-matrix.deall .deall,
#line-card-matrix.de3dm .de3dm,
#line-card-matrix.mahub .mahub,
#line-card-matrix.magec .magec,
#line-card-matrix.maabb .maabb {
  display: block;
}

/*////////////////////////////////// RETROFIT //////////////////////////////////*/
.retrofit {
  min-height: 300px
}
.retrofit ul {
  font-size: 19px;
}
.retrofit li {
  margin-bottom: 8px;
  line-height: 24px;
}
.retrofit h1 {
  font-weight: 400;
  margin-bottom: 12px;
  text-align: center;
  line-height: 38px;
}
.retrofit p {
  margin-bottom: 0px;
}
.gs-filter img {
  filter: grayscale(60%);
}
.retrofit p:first-of-type {
  margin-bottom: 8px;
}
.background-banner {
  height: 350px;
}
.partner {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%; 
  transform: translate(-50%,-50%);
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: .02em;
  text-shadow: 0px 0px 6px #fff;
  max-width: 730px;
  padding: 25px 20px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 10px;
}
.partner-bg-image {
  background-image: url("images/retrofit/energy-bg-60.png");
  background-color: #e9e9e9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bold-blue-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #7fc7cf;
  letter-spacing: .02em;
}
.bg-grey .bold-blue-text {
  color: #68b7bf;
  letter-spacing: .025em;
}
.process h1 {
  margin-bottom: 8px;
}
.before-after {
  width: 220px;
  text-align: center;
  font-size: 18px;
  margin-top: 7px
}
.process-title div {
  margin-top: 2px;
  font-weight: 500;
  letter-spacing: .03em;
}
.process div > div {
  font-weight: 700;
  border-bottom: 1px solid black;
  letter-spacing: .05em;
  line-height: 22px;
  width: fit-content;
  margin-bottom: 5px;
}
@media(max-width: 1099px) {
  .before-after {
    width: 184px;
  }
}
@media(max-width:991px) { 
  .background-banner {
    height: 450px;
  }
  .partner {
    width: 500px;
  }
  .before-after {
    width:225px;
  }
}
@media(max-width:767px) { 
  .background-banner {
    height: 450px;
  }
  .before-after {
    width:190px;
  }
}
@media(max-width:575px) {
  .partner {
    max-width: 380px;
  }
}@media(max-width:424px) { 
  .background-banner {
    height: 550px;
  }
  .partner {
    max-width: 320px;
  }
}
@media(max-width:374px) { 
  .background-banner {
    height: 500px;
  }
  .partner {
    max-width: 290px;
    background-color: #fff;
  }
  .partner-bg-image {
    background-image: none;
  }
}

/*////////////////////////////////// INSPIRATION //////////////////////////////////*/
.coming-soon {
  font-size: 48px;
  line-height: 58px;
  font-weight: 300;
  font-style: italic;
}
.indoor-outdoor {
  background-color: #777;
  color: #fff;
  text-align: center;
  letter-spacing: .05em;
  min-height: 26px;
  line-height: 28px;
  margin-bottom: 9px;
  margin-top: 2px;
  font-size: 18px;
  font-weight: 500;
}
.r-border {
  border-right: 2px solid white;
}
.l-border {
  border-left: 2px solid white;
}
.galleries {
  color: #000;
  line-height: 28px;
  list-style-type: none;
  font-size: 18px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 112px;
}
.galleries .btn-group {
  vertical-align: unset;
}
.galleries li span,
body .dropright .dropdown-menu .dropdown-item {
  cursor: pointer;
  user-select: none;
}
.galleries li span {
  padding-left: 7px;
  padding-right: 5px;
  display: inline-block;
}

/*/// for non-active galleries ///*/
.galleries .not-active, body .galleries .dropdown-item.not-active {
  color: #7fc7cf;
}

.galleries li span:hover{
  background-color: #777;
  border-radius: 6px;
  color: white;
}
.galleries .dropright .dropdown-toggle:hover:after {
  margin-left: 0; 
}
/* Remove the built-in dropdown symbol*/
body .dropright .dropdown-toggle::after {
  display: none;
}
/* Add dropdown symbol within the text span to avoid adjacent list items shifting on hover*/
.galleries .dropdown-symbol {
  display:inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
}
body .dropright .dropdown-menu .dropdown-item:hover {
  background-color: #777;
  color: white;
}
body .galleries .dropdown-item {
  padding: 0px 15px 0px 15px;
  color: #000;
  font-size: 18px;
}
.galleries .dropdown-menu{
  min-width: fit-content;
  padding: 5px 0;
  border: 1px solid #777;
  background: #f2f9fa;
  box-shadow: 6px 6px 16px 6px rgba(255,255,255,.7);
}

body #lcl_window {
  margin-top: -104px;
}

/*///////// Projects gallery slider ////////*/
.project-slider img{
  max-height: 400px;
}
body .carousel-indicators.projects{
  left: 0;
  bottom: 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  background-color: rgba(0,0,0, 0.4);
  height: 20px;
}
body .carousel-control-prev.projects-controls-prev,
.carousel-control-next.projects-controls-next {
  width: 3%;
}
.info-spot {
  position: absolute;
  text-align: center;
  z-index: 10;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 250px;
  width: 250px;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 50%;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: .025em;
  color: white;
}
.info-spot span{
  font-size: 18px;
}
.details{
  margin-top: 8px;
  font-size: 18px;
  line-height: 24px;
}
@media(max-width:1199px) {
  .galleries {
    height: 140px;
  }
}
@media(max-width:991px) {
  .galleries {
    height: 196px;
  }
}
@media(max-width:767px) {
  .galleries {
    height: fit-content;
    margin: auto;
  }
}
@media(max-width:452px) {
  .indoor-outdoor {
    line-height: 22px;
    padding: 8px 20px !important;
  }
}
@media(max-width:374px) {
  .galleries {
    font-size: 16px;
  }
}



/*////////////////////////////////// EDUCATION //////////////////////////////////*/




/*////////////////////////////////// CATALOGUES //////////////////////////////////*/
.ecat {
  margin: auto;
  width: 80%;
  border: 1px solid #999;
  box-shadow: 3px 3px 8px #bbb;
}
.ecat img{
  width: 100%;
  height: 100%;
}




/*////////////////////////////////// CONTACT //////////////////////////////////*/

.office-info {
  margin-top: 14px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: .025em;
  line-height: 32px;
}
.office-info span{
  white-space: nowrap;
}
.office-info a:hover{
  text-decoration: none;
  border-bottom: 2px solid #7fc7cf;
}
.contact-info.contacts {
  margin-top: 0;
  padding: 0;
  border: none;
}
.contacts .contact-icons a{
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}
.contact-info.contacts a {
  width: 19%;
}
.employee {
  width: 266px;
  height: 168px;
  background-color: #efefef;
  margin: auto;
  margin-bottom: 26px;
}
.employee a {
  letter-spacing: .02em;
}
.name {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
.name span {
  font-size: 15px;;
}
.title {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}
.phone {
  font-size: 14px;
}
.phone.one-number {
  margin-bottom: 29px;
}
@media(max-width:767px) {
  .contact-info.contacts a {
    width: 25%;
  }
}


/*///////////////////////////// Logo Banner ////////////////////*/
.logoBanner {
  text-align: center;
}
.logoBanner a {
  display: inline-block;
  text-decoration: none !important;
  width: 123px;
  height: 58px;
  line-height: 56px;
  margin-top: 4px;
  filter: grayscale(100%);
  transition: all 0.2s;
}
.logoBanner a:hover{
  filter: none;
}
.logoBanner img {
  max-width: 110px;
  max-height: 48px;
}
.py-3px {
  padding: 0 3px;
}
@media (max-width: 407px) {
  .logoBanner a {
    width: 162px;
    height: 70px;
  }
  .logoBanner img {
    max-width: 132px;
    max-height: 58px;
  }
}

/*////// Media Icons ////////*/
.media-icons a {
  padding: 0 10px;
}
.media-icons img {
  width: 54px;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #7fc7cf;
  border-radius: 50%;
  margin: auto 5px;
}
@media (max-width: 576px) {
  .media-icons {
    text-align: center;
  }
  .dot {
    visibility: hidden;
  }
  .media-icons img {
    margin-bottom: 8px;
  }

}
@media (max-width: 425px) {
  .media-icons a {
    padding: 8px;
  }
}
@media (max-width: 375px) {
  .media-icons a {
    padding: 6px;
  }
}

/*=======FOOTER=======*/

.footer {
  margin-top: 20px;
  text-align: center;
  color: white;
  padding-top: 8px;
  background-color: #555555;
}
.slogan {
  font-size: 26px;
  font-style: italic;
  letter-spacing: .02em;
}
.office-addr {
  font-size: 18px;
  letter-spacing: .06em;
}
.footer span{
  white-space: nowrap;
}
.copyright {
  font-size: 11px;
  letter-spacing: .07em;
}
@media (max-width:768px) {
  .slogan {
    font-size: 26px;
    line-height: 30px;
  }
  .office-num {
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: .06em;
  }
  .office-addr {
    margin-top: 3px;
    font-size: 15px;
  }
}