.highslide-heading{
	color: black !important;
	font-size: 18px !important;
	margin: 5px !important;
	padding-left: 40px !important;
	text-align: center;
}
.highslide-header{
	height: 30px !important;
}
.highslide-previous{
	display: none !important;
}
.highslide-next{
	display: none !important;
}