@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}
html, body {
  font-family: Roboto;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  background: #fff;
}
.logo {
  padding: 17px 0;
  margin: 0 auto;
  display: block;
}
.logo img{
  width: 614px;
}
.menu-bar {
  width: 100%;
  height: 36px;
  background: #555555;
}
.menu {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-item {
  padding: 8px 8px 0;
  color: white;
  text-align: center;
}
.menu-item.active {
  background-color: black;
}
.background {
  margin: 124px auto 0;
  background-image: url("metalumen-BlackCables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: calc(100% - 124px);
}
.marquis {
  position: absolute;
  display: flex;
  bottom: 30px;
  z-index: 100;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, .43);
  max-height: 34px;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: .03em;
}
.prod-name{
  display: inline-block;
  margin-left: 50px;
  color: white;
  height: 34px;
}
.message {
  color: #ffffc6;
  width: 800px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.bullets {
  color: #7dcfcd;
  display: inline-block;
  font-size: 60px;
  line-height: 34px;
  margin-right: 50px;
}
.bullets span{
  color: #fff;
}
.company-sum {
  margin: 22px auto 24px;
  width: 1200px;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}
.featureRow {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.featureRow a {
  color: #000;
  text-decoration: none;
}
.featureRow a:hover {
  text-decoration: none;
  cursor: pointer;
}
.feature {
  width: 350px;
  height: 242px;
  border: 2px solid #bbbbbb;
  padding: 14px;
  font-size: 14px;
  line-height: 19px;
}
.feature img {
  display: block;
}
.chevrons {
  width: 1200px;
  margin: 0 auto;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.chevrons-left img{
  margin: 0 0 -140px -40px;
}
.chevrons-right img{
  float: right;
  margin: 112px -40px 0 0;
  transform: scaleX(-1);
}
.catalogueRow {
  width: 1200px;
  margin: 30px auto 0;
  height: 345px;
}
.catalogue {
  display: inline-block;
  font-size: 18px;
  width: 247px;
  height: 345px;
}
.catalogue img {
  width: 247px;
  height: 319px;
  border: 1px solid #000;
  margin-top: 7px;
}
#mv {
  margin-left: 40px;
}
.signup {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  margin: 29px 0 0 58px;
}
.signup img{
  width: 100px;
}
.signup-text{
  display: inline-block;
  vertical-align: top;
  margin-left: 14px;
}
.signup-text span{
  line-height: 28px;
  color: #008f9f;
}
.contact-links {
  width: 100%;
  height: 247px;
  box-sizing: border-box;
  border: 2px solid #7fc7cf;
  margin-top: 19px;
  padding-top: 18px;
  text-align: center;
  letter-spacing: .03em;
}
.contact-links span{
  color: #008f9f;
}
.newGE {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
}
.link-group {
  margin-top: 14px;
  line-height: 23px;
}
.retrofit {
  line-height: normal;
}
.employmentRow {
  width: 1200px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #7fc7cf;
  margin: 30px auto 40px;
  text-align: center;
  padding-top: 10px;
}
.bannerRow {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}
.socialRow {
  width: 1200px;
  border-top: 2px solid #7fc7cf;
  padding: 28px 0;
  margin: 0 auto;
  text-align: center;
}
.footer {
  text-align: center;
  color: white;
  width: 100%;
  height: 128px;
  padding-top: 18px;
  background: #555555;
  letter-spacing: .05em;
}
.serving {
  font-size: 32px;
  font-style: italic;
}
.office {
  margin-top: 10px;
  font-size: 24px;
}
.office span{
  font-size: 18px;
}
.copyright {
  margin-top: 24px;
  font-size: 12px;
}